body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
}
h2 {
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}
.topnavbar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: left;
}
.btrail {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-align: left;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: bold;
}
